*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
background-color: #F8F7F4;
}
nav{
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
}
nav #nav_part1{
    width: 30%;
    height: 100%;
}
nav #nav_part1 ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

nav #nav_part2{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav #nav_part2 svg{
    width: 150px;
}
nav #nav_part3{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav #nav_part3 .search{
    width: 50%;
    background-color: white;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 30px;
}
nav #nav_part3 input{
    width: 80%;
    height: 100%;
    border-radius: 30px;
    outline: none;
    border: none;
}
nav #nav_part3 button{
padding: 10px;
border-radius: 30px;
border: none;
font-size: 15px;
background-color: transparent;
}
nav #nav_part3 button:nth-child(2){
    background-color: #16152A;
    color: white;
}
.hero{
    width: 100%;
    height: 120vh;
    /* background-color: #16152A; */
}
.hero_part1{
    width: 100%;
    height: 60%;
    background-color: #F8F7F4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    flex-direction: column;
}
.hero_part1 h3{
    background-color: #E9B3ED;
    padding: 14px;
    font-size: 16px;
    font-weight: 200;
    border-radius: 30px;
    animation: backgroun 25s linear infinite ;
    color: white;
}
.hero_part1 h1{
    font-size: 80px;
    text-align: center;
    font-family: sarif;
    font-weight: 100;
    width: 50%;
    line-height: 80px;
}
.hero_part1 p{
    font-size: 22px;
}
.hero_part1 button{
    padding: 14px;  
    font-size: 16px;
    border-radius: 30px;
    border: none;
    background-color: #16152A;
    color: white;

}
.hero_part2{
    width: 100%;
    height: 40%;  
    overflow-x: hidden;
    white-space: nowrap;
}
.hero_part2 .scroll{
    width: 100%;
  height: 100%;
  display: inline-block;
  animation: scroll 18s infinite linear;
}
.scroll .elem{
    height: 80%;
    width: 15.8%;
  display: inline-block;
  border-radius: 20px;
  margin-left: 10px;
  position: relative;
  
}

.scroll .elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
}

@keyframes scroll {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes backgroun {
    0%{
        background-color: red;
    }
    25%{
        background-color: blue;
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: #16152A;
    }
    100%{
        background-color: bisque;
    }
}
.scroll .elem .text{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom:  0;
    color: white;
    padding: 5px;
    padding-left: 20px;
    font-family: monospace;
}

.scroll .elem .text h5,p{
    font-family: monospace;
    margin-bottom: 5px;
    font-size: 15px;
}

.scroll .elem .text button{
    padding: 5px;
    border-radius: 20px;
    border: .1px solid white;
    background-color: transparent;
    color: white;
    margin-top: 5px;
}